<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Responsive Chat</title>
</head>
<body>
    <div class="wrapper">
        <!-- Message Container (Scrollable) -->
        <div class="messages-container">
            <% messages.forEach((message) => { %>
                <div class="message">
                    <div class="name-date">
                        <h1 class="message-user"><%= message.user %></h1>
                        <p class="date"><%= `${message.added.toLocaleString()}` %></p>
                    </div>
                    <p class="message-text"><%= message.text %></p>
                </div>
            <% }); %>
        </div>
        <%- include('new') %>
    </div>
    
</body>
</html>