<div class="send-message-form">
    <form action="/new" method="POST" class="send-message">
        <input type="text" name="name" placeholder="Your Name" required aria-label="Your Name">
        <input type="text" name="message" placeholder="Your Message" required aria-label="Your Message">
        <button type="submit">Send Message</button>
    </form>
</div>